<div class="container">
    <div>
        <h1>search</h1>
 <div class="col-md-3">
<input type="text" #f (keyup)="search(f.value)">
</div>
      <div class="col-md-9">
  <table class="table" >
  <thead>
    <th>Id</th>
    <th>Title</th>
    <th>Status</th>
    <th>Action</th>

  </thead>

  <tbody>

    <tr *ngFor="let item of arr" >
      <td>{{item.Id}}</td>
      <td>{{item.Title}}</td>
      <td>{{item.Status}}</td>
      <td><button class="btn btn-info" (click)="onTaskDelete(item)" >Delete</button>
      <button class="btn btn-info" (click)="onTaskEdit(item)"  >edit</button>
      </td>
    </tr>
  </tbody>
  </table>
</div>
</div>
</div>

